@import 'grid.less';
@import 'colors.less';

@mainHeight: 680px;
@normalFont: Lucida Sans Unicode, sans-serif;
@fixedFont: Lucida Console, Consolas, monospace;

.noSelect() {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;     
}

.tabbed(@border, @activeFg, @activeBg, @inactiveFg, @inactiveBg) {
	& > ul {
		position: absolute;
		bottom: 100%;
		list-style-type: none;
		padding: 0 0 1px 0;
		margin: 0;
		li {
			display: inline;
			padding: 1px 12px;
			margin-right: 1px;
			border: 1px solid @border;
			background-color: @inactiveBg;
			font-weight: bold;
			border-radius: 3px 3px 0 0;
			&.selected {
				background-color: @activeBg;
				border-bottom: 1px solid @activeBg;
				a {
					color: @activeFg;
				}
			}
			a {
				color: @inactiveFg;
				text-decoration: none;
			}
		}
	}
}


body {
	background-color: @background;
	color: @foreground;
	padding: 2em;
	.row();
	margin: 0 auto;
	font-family: @normalFont;
	font-size: 8pt;
}

button, input, select, a.button {
	// use inactive for enabled, because disabled form elements are lightened instead of darkened
	color: @complement-inactive-fg;
	background-color: @complement-inactive-bg;
	border: 1px solid @complement-border;
	border-radius: 3px;
	font-family: @normalFont;
	font-size: 80%;

	&[disabled] {
		background-color: @complement-active-bg;
		color: @complement-active-fg;
	}
}

button, a.button {
	border: 1px outset @complement-border;
	padding: 1px 6px;
	text-decoration: none;
	&:not([disabled]):active {
		border: 1px inset @complement-border;
	}
}

div {
	box-sizing: border-box;
}

#filePanel {
	.column(2);
	.tabbed(@secondary-a-border, @secondary-a-active-fg, @secondary-a-active-bg, @secondary-a-inactive-fg, @secondary-a-inactive-bg);
	padding: @gutter-width/2;
	border: 1px solid @secondary-a-border;
	background-color: @secondary-a-active-bg;
	margin-bottom: @gutter-width;
	height: @mainHeight;
	position: relative;

	.controls {
		position: absolute;
		bottom: 0;

		background-color: @secondary-a-active-bg;

		label {
			margin: 0.2em;
			display: block;
		}
	}

	#fileTable, #designTable {
		font-size: 80%;
		width: 100%;
		height: 100%;
		tbody {
			display: block;
			height: 100%;
			overflow-y: auto;
			padding-bottom: 6em; // HACK: make space for controls to sit on top of us

			&[data-filter] tr { display: none; }
			&[data-filter='CipherText'] tr.cipherText { display: block; }
			&[data-filter='PlainText'] tr.plainText { display: block; }

			tr {
				display: block;
				&.selected {
					background-color: @secondary-a-active-fg;
					color: @secondary-a-active-bg;
				}
				td {
					.noSelect();
				}
			}
		}
	}
}

#workPanel {
	.column(8);
	.tabbed(@primary-border, @primary-active-fg, @primary-active-bg, @primary-inactive-fg, @primary-inactive-bg);
	padding: @gutter-width/2;
	border: 1px solid @primary-border;
	background-color: @primary-active-bg;
	height: @mainHeight;
	position: relative;
	& > div {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}

#componentPanel {
	.column(2);
	padding: @gutter-width/2;
	border: 1px solid @secondary-a-border;
	background-color: @secondary-a-active-bg;
	height: @mainHeight;
}

#optionPanel {
	.column(12);
	padding: @gutter-width/2;
	border: 1px solid @secondary-b-border;
	background-color: @secondary-b-active-bg;
	height: 150px;
}



.component {
	position: absolute;
	z-index: 100;
	opacity: 0.9;
	width: 50px;
	height: 50px;
	font-size: 80%;
	border: 1px solid @complement-border;
	background-color: @complement-active-bg;
	color: @complement-active-fg;
	.noSelect();
	span.name {
		text-align: center;
		word-wrap: break-word;
		margin: 2px;
		display: block;
	}
	.inputs, .outputs {
		margin: 0;
		padding: 0;
		display: inline-block;
		list-style-type: none;
		position: absolute;
		top: 0;
		color: @secondary-b-active-fg;
		li {
			background-color: @secondary-b-border;
			border-radius: 3px;
			margin: 2px 0;
			padding: 0px 4px 2px;
		}
	}
	.inputs { right: 100%; text-align: right; }
	.outputs { left: 100%; }
}

._jsPlumb_endpoint, ._jsPlumb_connector {
	opacity: 0.5;
}

._jsPlumb_connector {
	z-index: 5;
}

._jsPlumb_endpoint {
	z-index: 10;
}

div.options {
	position: absolute;
	bottom: -1;
	text-align: center;
	width: 100%;
}

div.options > label {
	display: inline-block;
	font-size: 80%;
	padding: 2px;
	background-color: @secondary-a-inactive-bg;
	color: @secondary-a-inactive-fg;
	border: 1px solid @secondary-a-border;
}

div.options > input {
	display: none;
	& ~ ul {
		visibility: hidden;
		display: inline-block;
		list-style-type: none;
		position: absolute;
		right: 50%;
		top: 100%;
		text-align: center;
		margin: 0;
		padding: 0;
		pointer-events: none;

		li {
			height: 1px;
			padding: 0 4px;
			border: 1px solid @secondary-a-border;
			border-radius: 3px;
			background-color: @secondary-a-active-bg;
			color: @secondary-a-active-fg;
			display: inline-block;
			margin-left: 0;
			margin-right: -100%;

			label span {
				width: 100px;
				text-align: right;
				margin-right: 10px;
				&:after { content: ": " }
			}

			input {
				font-size: 100%;
			}
		}
	}
	&:checked ~ label {
		background-color: @secondary-a-active-bg;
		color: @secondary-a-active-fg;
	}
	&:checked ~ ul {
		visibility: visible;
		display: inline-block;
		position: absolute;
		right: 50%;
		top: 100%;
		li {
			pointer-events: auto;
			height: auto;
			padding: 4px;
		}
	}
}

#optionPanel {
	ul {
		list-style-type: none;
		margin: 0;
		border: 0;
		li > input {
			display: none;
			& ~ label { display: none; }
			&:checked ~ label { display: inline; }
		}
	}

	label span {
		width: 100px;
		text-align: right;
		margin-right: 10px;
		&:after { content: ": " }
	}

	input {
		font-size: 100%;
	}
}

